body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.page-header {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #000;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

h1 {
    margin: 10px 0;
}

.header-status {
    margin-bottom: 20px;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.stat-item h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.stat-item p {
    font-size: 16px;
    color: #666;
}

.content-area {
    padding: 20px;
    /* Additional styling for your main content area */
}

.video-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* Set the background of the entire gallery to black */
}

.video-container {
    flex: 1;
    /* Equal width for all videos */
    margin: 5px;
    /* Optional spacing between videos */
    position: relative;
    /* Needed for the absolute positioning of captions */
    background-color: black;
    /* Ensure each video container has a black background */
}

.video-container video {
    max-height: 200px;
    /* Adjust to desired max height */
    max-width: 100%;
    /* This makes sure the video does not exceed the container's width */
    object-fit: contain;
    /* This prevents the video from stretching and adds black bars if necessary */
    background-color: black;
    /* Sets the video's background to black */
}

.video-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background for captions */
    padding: 5px;
}


/* Remove the bottom border or line if it exists */
.page-header {
    border-bottom: none;
}



@media screen and (max-width: 1024px) {
    .video-gallery {
        grid-template-columns: repeat(2, 1fr);
        /* 2 videos in a row for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .video-gallery {
        grid-template-columns: 1fr;
        /* 1 video in a row for even smaller screens */
    }
}