div#home {
    width: calc(100% - 50px);
    padding: 25px;
    max-width: 1000px;
    margin: 0 auto;
}
@media only screen and (max-width: 600px) {
    div#home {
        width: calc(100% - 20px);
        padding: 10px;
    }
}

div.content-block {
    display: inline-block;
    margin: 10px 0;
    vertical-align: top;
    width: 100%;
    z-index: 2;
}
div.content-block.text p {
    margin-bottom: 10px;
}
div#home a {
    color: rgb(149, 14, 14);
    text-decoration: none;
}
div#home a:hover {
    color: rgb(214, 16, 16);
}

h1.global-header {
    margin-bottom: 10px;
}

@media only screen and (min-width: 599.9999px) {
    div#overview-block, div#attend-block, div#submit-paper-block, div#organizers-block {
        width: 65%;
    }
    div#teaser-block, div#miccai-block, div#openreview-block, div#organizers-logo-block {
        width: calc(35% - 35px);
        /* height: 200px; */
        margin-left: 35px;
        padding-top: 40px;
    }

    /* Slightly wider figures */
    div#annotation-block {
        width: 55%;
    }
    div#annfig-block {
        width: calc(45% - 35px);
        /* height: 200px; */
        margin-left: 35px;
        padding-top: 40px;
    }
}
div.figure-wrap {
    width: 100%;
    margin-bottom: 30px;
}
div.figure-placeholder {
    height: 200px;
    width: 100%;
    background-color: gray;
}
p.figure-caption {
    padding: 10px 5px;
    font-size: 14px;
    color: rgb(47, 47, 47);
}
p.figure-caption span.fc-title {
    font-weight: bold;
}
div.flow-figure-wrap {
    /* background-color: rgb(226, 226, 226); */
    width: 100%;
    height: 400px;
}
div.fake-newblock-sep {
    width: 100%;
    height: 20px;
}
div#openreview-block a {
    display: block;
    width: 100%;
}
div#openreview-block a img {
    display: block;
    margin: 0 auto;
}

div#timeline-block table {
    margin-left: 10px;
}
td.date {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
}
.fine-print {
    font-size: 0.35em;
}

div#organizers-block ul a {
    text-decoration: none;
    color: black;
}
div#organizers-block ul a:hover {
    color: rgb(214, 16, 16);
}

div#home a.support-anchor {
    display: inline-block;
    width: 50%;
    text-decoration: none;
    vertical-align: top;
    padding: 15px;
    color: rgb(37, 37, 37);
}
div#home a.img-hover-anchor {
    display: inline-block;
    padding: 10px;
}
a.support-anchor:hover, div#home a.img-hover-anchor:hover {
    background-color: rgba(100, 148, 237, 0.376);
}
@media only screen and (max-width: 600px) {
    div#home a.support-anchor {
        width: 100%;
    }
    a.support-anchor:hover {
        background-color: rgba(0,0,0,0);
    }
}

ol.ref-list li {
    padding: 5px;
    font-size: 0.9em;
}

ol.ref-list li.sel {
    background-color: rgba(100, 148, 237, 0.376);
}

div#home span.mono, div#home a.mono {
    background-color: rgb(255, 218, 218);
    font-family: monospace;
    padding: 3px;
    color: rgb(75, 75, 75);
}
div#home a.mono:hover {
    text-decoration: underline;
}

iframe.results-frame {
    margin-top: 10px;
    width: 100%;
    height: 70vh;
    border: 1px solid lightgray;
}

li.lisep {
    margin-bottom: 10px;
}

div#home a:not([href]) {
    color: rgb(214, 158, 158);
}

div.content-block.text p.faq-question {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 3px;
}
p.faq-answer {
    margin-top: 0px;
}

a.bibtex {
    font-size: 0.8em;
}

td.expr {
    padding-left: 10px;
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
    width: 20%;
}


/* Timeline (for kicks) */

div#timeline-figure {
    position: relative;
    max-width: 300px;
}
div.timeline-component {
    background-color: black;
    position: absolute;
}
div#top-tick {
    height: 1px;
    width: 31px;
    top: 0px;
    left: 50px;
}
div#skel-b4-break {
    width: 1px;
    height: 40px;
    top: 1px;
    left: 65px;
}
div#break-top {
    width: 15px;
    height: 1px;
    left: 58px;
    top: 41px;
    transform-origin: center;
    transform: rotate(-15deg);
}
div#break-bottom {
    width: 15px;
    height: 1px;
    left: 58px;
    top: 46px;
    transform-origin: center;
    transform: rotate(-15deg);
}
div#skel-after-break {
    width: 1px;
    height: 352px;
    top: 47px;
    left: 65px;
}
div#bottom-tick {
    height: 1px;
    width: 31px;
    top: 399px;
    left: 50px;
}
div.month {
    position: absolute;
    left: 35px;
    width: 30px;
    transform: translateY(-50%);
}
div.month * {
    vertical-align: middle;
    display: inline-block;
    text-align: right;
}
div.month span.month-itself {
    width: 20px;
    padding-right: 5px;
    font-size: 10px;
    color: rgb(175, 175, 175);
    background-color: rgba(255, 255, 255, 0.849);
}
div.month span.month-trailer {
    width: 10px;
    border-bottom: 1px dotted gray;
}

div.year {
    position: absolute;
    left: 0;
    width: 69px;
}
div.year * {
    vertical-align: middle;
    display: inline-block;
}
div.year span.year-itself {
    width: calc(50% - 5px);
    font-size: 10px;
    color: rgb(131, 131, 131);
}
div.year span.year-trailer {
    width: calc(50% - 2px);
    border-bottom: 1px dotted rgb(70, 70, 70);
}
div.year span.year-dot {
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    background-color: gray;
}
div#year-2020 {
    top: 30px;
    transform: translateY(-50%);
}
div#year-2021 {
    top: 57px;
    transform: translateY(-50%);
}
div#year-2022 {
    top: 390px;
    transform: translateY(-50%);
}
div#current-date {
    position: absolute;
    left: 0;
    width: calc(100% - 175px);
    top: 151px;
    transform: translateY(-50%);
}
div#current-date * {
    vertical-align: middle;
    display: inline-block;
}
div#current-date span.label {
    width: 32px;
    font-size: 10px;
    color: cornflowerblue;
}
div#current-date span.current-trailer {
    width: calc(100% - 32px);
    border-bottom: 1px solid cornflowerblue;
}

div.event {
    position: absolute;
    left: 66px;
    width: calc(100% - 66px);
    top: 150px;
}
div.event span {
    vertical-align: middle;
    display: inline-block;
}
div.event span.point-event-leader {
    width: calc(100% - 175px);
    border-bottom: 1px dotted rgb(31, 31, 31);
}
div.event span.range-event-leader-1 {
    width: 20px;
    height: 30px;
    border: 1px dotted rgb(31, 31, 31);
    border-left: none;
}
div.event span.range-event-leader-2 {
    width: calc(100% - 195px);
    border-bottom: 1px dotted rgb(31, 31, 31);
}
div.event span.label {
    padding-left: 10px;
    width: 175px;
    font-size: 12px;
    color: black;
}
div#proposed-event {
    top: 10px;
    transform: translateY(-50%);
}
div#annotation-event {
    top: 160px;
    transform: translateY(-50%);
}
div#annotation-event span.range-event-leader-1 {
    height: 100px
}
div#intention-event {
    top: 240px;
    transform: translateY(-50%);
}
div#submission-event {
    top: 270px;
    transform: translateY(-50%);
}
div#submission-event span.range-event-leader-1 {
    height: 30px
}
div#miccai-event {
    top: 350px;
    transform: translateY(-50%);
}
div#miccai-event span.range-event-leader-1 {
    height: 10px
}

div#evaluation-block table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}
div#evaluation-block tr {
    padding: 10px 0;
}
div#evaluation-block td {
    padding: 5px;
    border: 1px solid rgb(206, 206, 206);
}

span.homebrew-eqn {
    background-color: rgb(235, 235, 235);
    padding: 4px 5px;
    font-family: "computer modern";
}
p.homebrew-eqn {
    text-align: center;
    padding-bottom: 10px;
}
p.homebrew-eqn span.homebrew-eqn {
    padding: 15px;
}
p.img-eqn-only {
    text-align: center;
}
img.img-eqn {
    display: inline;
    background: rgb(235, 235, 235);
    padding: 4px 5px;
    height: 21px;
    transform: translateY(4px);
}
img.img-eqn.sub {
    height: 23px;
    transform: translateY(8px);
}
img.img-eqn.smallblock {
    height: 30px;
    padding: 7px;
    display: block;
    margin: 0 auto;
    transform: translateY(0px);
}
img.img-eqn.smallblock.frac {
    height: 50px;
}

img.img-eqn.block {
    height: 90px;
    padding: 15px;
}
@media only screen and (min-width: 599.999px) {
    span.homebrew-eqn {
        white-space: nowrap;
    }
}


ul.icon-meanings {
    list-style-type: none;
}
ul.icon-meanings li {
    padding: 5px 0;
}
ul.icon-meanings li * {
    vertical-align: middle;
}
span.material-icons-outlined {
    font-size: 25px;
    text-decoration: none;
    color: rgb(82, 82, 82);
    height: 25px;
    width: 25px;
    display: inline-block;
}
span.material-icons-outlined.inactive {
    color: rgb(214, 214, 214);
}
ul.icon-meanings li span.meaning {
    display: inline-block;
    margin-left: 10px;
    width: calc(100% - 40px);
    line-height: 110%;
}

/* INSTRUCTIONS PAGE */

div.instructions-block {
    padding-top: 20px;
}

div.instructions-content-block {
    display: inline-block;
    vertical-align: top;
}

div.instructions-text-block {
    width: 40%;
}

div.instructions-text-block p {
    padding-right: 10px;
    padding-bottom: 10px;
}

div.instructions-figure-block {
    width: 60%;
}

table#hotkeys {
    padding: 10px;
    padding-bottom: 0;
}
td.tbhk {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

@media only screen and (max-width: 600px) {
    div.instructions-figure-block, div.instructions-text-block {
        width: 100%;
    }
}

span.edit-del {
    text-decoration: line-through;
    color:rgb(219, 41, 41)
}

span.edit-add {
    text-decoration: underline;
    color:rgb(10, 83, 0)
}

span.edit-dep, span.edit-dep * {
    color:rgb(168, 168, 168) !important;
    text-decoration: line-through !important;
}

span.edit-dep span.edit-del {
    display: none;
}

div.alert-banner {
    padding: 20px;
    border: 1px solid rgb(126, 151, 122);
    border-radius: 5px;
    background-color: rgb(230, 255, 226);
}


/* Versioning toggle */

p.version-note {
    font-size: 12px;
    color: rgb(93, 93, 93);
}

div#evaluation-block-old {
    display: none;
    background-color: rgb(231, 241, 255);
}

div.ir-form {
    padding-top: 10px;
}

div#ir-form-itself {
    padding: 30px 30px;
}

div.ir-form-element {
    padding-bottom: 20px;
}

div.ir-form-element p.input-note {
    font-size: 11px;
    padding-left: 10px;
    padding-top: 3px;
}

p#ir-submit-success {
    color: rgb(12, 100, 0)
}

p#ir-submit-failure {
    color: rgb(170, 106, 5)
}

pre#ir-submit-failure-message {
    background-color: rgb(238, 238, 238);
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 10px;
}

input#team-username-input {
    width: 200px;
}

input#team-secret-input {
    width: 400px;
}

input#algorithm-url-input {
    width: 600px;
}

p#ir-submit-success, p#ir-submit-failure, pre#ir-submit-failure-message, div#request-loader {
    display: none;
}

pre#ir-submit-failure-message {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}