.dataset-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 67vh;
  align-items: center;
  flex-direction: column;
}
.dataset-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: rgba(111, 108, 108, 0.58);
  height: 20px;
}
.dataset-image {
  height: 2rem;
}
.dataset-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.dataset-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.dataset-navlink {
  text-decoration: none;
}
.dataset-text {
  margin-left: var(--dl-space-space-twounits);
}
.dataset-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.dataset-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.dataset-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.dataset-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.dataset-burger-menu {
  display: none;
}
.dataset-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.dataset-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.dataset-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dataset-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.dataset-logo {
  height: 2rem;
}
.dataset-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dataset-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.dataset-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.dataset-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.dataset-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.dataset-text6 {
  margin-bottom: var(--dl-space-space-unit);
}
.dataset-text7 {
  margin-bottom: var(--dl-space-space-unit);
}
.dataset-text8 {
  margin-bottom: var(--dl-space-space-unit);
}
.dataset-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.dataset-login {
  margin-right: var(--dl-space-space-twounits);
}
.dataset-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.dataset-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.dataset-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 1200px) {
  .dataset-navbar-interactive {
    align-self: center;
    background-color: rgba(111, 108, 108, 0.58);
  }
}
@media(max-width: 767px) {
  .dataset-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .dataset-desktop-menu {
    display: none;
  }
  .dataset-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dataset-text4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .dataset-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .dataset-text6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .dataset-text7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .dataset-text8 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .dataset-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .dataset-mobile-menu {
    padding: 16px;
  }
}
